.mech{
    color: red;
    font-family: 'Catamaran', sans-serif;
}
.buddy{
    font-family: 'Catamaran', sans-serif;
}
.tagline{
    font-family: 'Catamaran', sans-serif;

}
.details{
    font-family: 'Noto Sans TC', sans-serif;
}
#text{

    font-family: 'Pathway Extreme', sans-serif;
}