.tn{
    font-family: 'Roboto Condensed', sans-serif;   
}
.descript{
    font-family: 'Lora', serif;
}
.name{
    font-family: 'Roboto Condensed', sans-serif;   
}
.city{
    font-family: 'Roboto Condensed', sans-serif;   
}